@model HomeModel
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome</h1>
    <p>Sistema de Controle de Contatos</a>.</p>
    <span>Seu email é : @Model.Email</span>
</div>
